////webcam///
.webcam_block{
  .building_info{
    margin: 40px auto;
  }
  .btn_red{
    max-width: 350px;
    margin: 30px auto 60px;
  }
}
.webcam_box{
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  iframe{
    height: 460px;
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
 .webcam_box iframe{
   height: 240px;
 }
}

/// building
.status_box{
  background: #f0f0f0;
  padding: 20px 30px;
}
.hod-stroitelstva__box {
    margin: 40px auto 60px;
    position: relative;
}
.container_svg{
  width: 220px;
}
.building_timebar{
  width: 80%;
  flex-wrap: wrap;
}
.timebar__item{
  width: 50%;
  padding: 12px;
}
.building_info{
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}


.tooltip {
  display: inline-block;
  position: relative;
  z-index: 9;
}
.tooltip-item {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 10px;
  box-sizing: border-box;
}
.tooltip-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 220px;
  left: 50%;
  margin: 0 0 20px -110px;
  bottom: 80%;
  text-align: left;
  font-size: 18px;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #ef2732;
  box-sizing: border-box;
  padding: 0 8px;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.tooltip-effect-2 .tooltip-content {
  -webkit-transform-origin: 50% calc(100% + 10px);
  transform-origin: 50% calc(100% + 10px);
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,45deg);
  transform: perspective(1000px) rotate3d(1,0,0,45deg);
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
}

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.tooltip.tooltip-effect-2:hover .tooltip-content {
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
  transform: perspective(1000px) rotate3d(1,0,0,0deg);
}

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #ef2732;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/

.tooltip-text {
  font-size: 0.68em;
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
}

.building_webcam__link{
  display: block;
  width: 95px;
  height: auto;
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  line-height: 1.2;
  svg{
    display: block;
    margin: 0px auto 10px;
  }
}



.stroy_item__1 {
    background: url("/wp-content/themes/happy-house/assets/img/hod/1.jpg") center no-repeat;
    background-size: cover;
}
.stroy_item__2 {
    background: url("/wp-content/themes/happy-house/assets/img/hod/2.jpg") center no-repeat;
    background-size: cover;
}
.stroy_item__3 {
    background: url("/wp-content/themes/happy-house/assets/img/hod/3.jpg") center no-repeat;
    background-size: cover;
}
.stroy_item__4 {
    background: url("/wp-content/themes/happy-house/assets/img/hod/4.jpg") center no-repeat;
    background-size: cover;
}
.stroy_item__5 {
    background: url("/wp-content/themes/happy-house/assets/img/hod/5.jpg") center no-repeat;
    background-size: cover;
}
.stroy_item__6 {
    background: url("/wp-content/themes/happy-house/assets/img/hod/6.jpg") center no-repeat;
    background-size: cover;
}
.gold__timeline {
    width: 1px;
    height: 100%;
    position: absolute;
    background: $red content-box;
    left: 50%;
    padding: 0px 0;
}
.hod-stroitelstva__item {
    width: 47%;
    height: 280px;
    position: relative;
    margin-top: 0px;
    &::after {
      content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background: #ed1c24;
    border-radius: 0px 4px 4px 0px;
    top: 0%;
    right: -32px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
      }
    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(255,255,255, 0.8);
      padding: 16px;
      text-align: center;
      color: #000;
      pointer-events: none;
    }
}
.hod-stroitelstva__link {
    display: block;
    width: 100%;
    height: 100%;
}
.hod-stroitelstva__item:nth-child(odd) {
    margin: -280px 0 30px auto;
    &::after {
      content: '';
      left: -32px;
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      top: auto;
      bottom: 0;
      }
}
@media only screen and (max-width:1024px) {
  .status_box {
    padding: 10px;
}
.building_timebar{
  width: 100%;
}
}
@media only screen and (max-width: 842px) {
  .status_box{
    font-size: 12px;
  }
}
@media only screen and (max-width:768px) {
  .status_box{
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 20px 0;
  }
  .building_timebar {
      width: 100%;
  }
  .timebar__item {
    width: 100%;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .timebar_name{
    margin-bottom: 10px;
  }
  .building_webcam{
    width: 90%;
    margin: 20px auto;
  }
  .building_webcam__link{
    width: 100%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    padding: 6px 60px;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    svg{
      margin: 0 6px;
      width: 20px;
    }
  }

  .hod-stroitelstva__item{
    width: 100%;
    margin-bottom: 30px;
  }
  .hod-stroitelstva__item:nth-child(odd){
    margin: 0 0 30px 0;
  }
}
