/*! Developer HappyHouse(1.2). (C) June 2018 Anna Begas. */

.developer_block{
  .content_subname{
    font-size: 24px;
    width: 100%;
    margin: 0 auto;
    max-width: 740px;
    letter-spacing: normal;
    line-height: 1.8;
  }
  .projects .wrapper{
    border: none;
    padding: 10px 0;
  }
  .develop__img{
    position: static;
  }

}
.content_text{
  line-height: 2;

}
.developer_box{
  background: #efefef;
  padding: 40px;
  margin-bottom: 36px;
}
.developer_logo{
  width: 25%;
  padding: 20px;
}
.developer_info{
  width: 75%;
  padding: 20px 40px;
  li{
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-bottom: 12px;
  }
  .content_text{
    margin-bottom: 24px;
  }
}
.developer_icon{
  width: 44px;
  text-align: center;
  margin-right: 20px;
  svg{
    max-width: 22px;
    height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .developer_block{
    .line_link{
      margin-bottom: 0;
    }
    .content_subname{
      font-size: 20px;
    }
    .bx-wrapper .bx-controls-direction a {
      width: 40px;
      height: 40px;
      padding: 12px;
    }
  }
  .developer_box {
    padding: 20px 10px;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.developer_logo {
    width: 100%;
    max-width: 200px;
}
.developer_info {
    width: 100%;
    padding: 20px 0px;
}
.developer_icon{
  width: 10%;
}

}
