.location_block{

}
.location_item{
  width: 48%;
  height: 290px;
  position: relative;
  overflow: hidden;
}

.location_item_1{
  background: url('/img/location/1.jpg') center no-repeat;
  background-size: cover;
}
.location_item_2{
  background: url('/img/location/2.jpg') center no-repeat;
  background-size: cover;
}
.location_box{
  // background: red;
  padding: 20px 20px 20px 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  letter-spacing: normal;
  line-height: 1.4;
  width: 85%;
  z-index: 1;
  &:before{
    content: '';
    position: absolute;
    width: calc(100% + 50px);
    height: 100%;
    transform: skewX(-36deg);
    background: rgba(235, 235, 235, 0.8);
    z-index: -1;
    top: 0;
    left: -14px;
    }
  &:after{
    content: '';
    position: absolute;
    background: rgba(200, 200, 200, 0.8);
    width: 24px;
    height: 80%;
    left: -44px;
    bottom: 0;
    transform: skewX(-36deg);
  }
}
.metro_logo{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;

}
.location_map{
  width: 100%;
  height: 600px;
  position: relative;
  margin: 20px auto;
  .wrapper{
    width: 100%;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
#map{
  height: 100%;
}
// .location_map
.location_list{
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1.6;
  li{
    margin-bottom: 10px;
    background: rgba(255,255,255,.8);
    padding: 14px;
  }
  .red{
    color:$red;
  }
  p{
    font-size: 14px;
  }
}

@media only screen and (max-width:768px) {
  .location_block{
    .wrapper.flex{
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }
  }
    .location_item {
    width: 100%;
  }

  .location_list{
    position: static;
    li{
      padding: 10px;
      margin: 2px auto;
      text-align: center;
      background: #f0f0f0;
    }

  }
  .location_map{
    height: auto;
    .wrapper{
      position: static;
      transform: none;
    }
  }
  #map{
    height: 90vh;
  }

}
