@font-face{	font-family: "GothaPro"; src: url("../fonts/GothaPro.otf") format("opentype");}
@font-face{	font-family: "GothaProBol"; src: url("../fonts/GothaProBol.otf") format("opentype");}
@font-face{	font-family: "GothaProLig"; src: url("../fonts/GothaProLig.otf") format("opentype");}
@font-face{	font-family: "GothaProMed"; src: url("../fonts/GothaProMed.otf") format("opentype");}
@font-face{	font-family: "Roboto-Bold"; src: url("../fonts/Roboto-Bold.ttf") format("truetype");}
@font-face{	font-family: "Roboto-Light"; src: url("../fonts/Roboto-Light.ttf") format("truetype");}
@font-face{	font-family: "Roboto-Medium"; src: url("../fonts/Roboto-Medium.ttf") format("truetype");}
@font-face{	font-family: "Roboto-Regular"; src: url("../fonts/Roboto-Regular.ttf") format("truetype");}

$gotha :      "GothaPro";
$gothaBold:   "GothaProBol";
$gothaLight : "GothaProLig";
$gothaMed :   "GothaProMed";
$roboto:      "Roboto-Regular";
$robotoL:     "Roboto-Light";
$robotoM:     "Roboto-Medium";
$robotoR:     "Roboto-Regular";

$blue:        #2b328c;
$red:         #ed1c24;
$yellow:      #ffda00;
$orange:      #f26729;
$footer-red : #8a1b12;

@mixin flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
